* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 500 normal 32px/48px Poppins;
	border-width: 0;
}

.calc {
	display: flex;
	min-width: 320px;
	max-width: 900px;
	background-color: #F7F8FB;
	margin: 0 auto 0 auto;
	border-radius: 39px;
}

.work-zone {
	width: 60%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.log {
	width: 40%;
	padding: 40px 40px 20px;
}

.log-record {
	color: #4e4d4d;
	font-weight: 100;
	font-size: 25px;
	text-align: right;
	line-height: 28px;
	margin-bottom: 20px;
}

.log-record span {
	font-weight: 400;
	font-size: 25px;
	line-height: 28px;
}

.screen {
	height: 100px;
	width: 308px;
	background-color: white;
	border-radius: 22px;
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: right;
	padding: 10px;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.buttons-right {
	display: flex;
	flex-direction: column;
	width: 62px;
	margin-left: 20px;
}

.buttons-main {
	display: flex;
	justify-content: space-between;
	
}
.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 62px;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 62px;
	height: 60px;
	background-color: white;
	color: #38B9FF;
	border-radius: 12px;
	margin-bottom: 20px;
}

.buttons-down {
	display: flex;
}
.grey {
	color: #858585;
}

.blue {
	background-color: #ADE2FF;
	color: #109DFF;
}

.dark {
	background-color: #19ACFF;
	color: #B2DAFF;
	box-shadow: -9px 13px 23px rgba(0, 163, 255, 0.65), inset -3px 4px 11px #B0DFFF;
}

.tall {
	height: 100px;
}

.long {
	width: 144px;
	margin-right: 20px;
}


@media (max-width: 600px) {
	.calc {
		flex-direction: column-reverse;
	}
	
	.log {
		width: 100%;
		height: 200px;
		padding-top: 20px;
		overflow-y: scroll;
	}
	
	.work-zone {
		width: 100%;
	}
}
